# Ignore node_modules directory
node_modules/

# Ignore all .log files
*.log

# Ignore PyTorch and model checkpoint files
*.pt
*.ckpt
*.csv
*.save
*.pth
*.gz


# Ignore Python cache directories
__pycache__/

# Ignore image files
*.png

# Ignore a specific folder (e.g., dataset or other generated data)
data/
results/

# Ignore all files with .env extension (for environment configuration)
*.env

